{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="#" class="brand-link">
		<img src="{% static 'lib/adminLTE-3.2.0/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">Adminnistrador</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="{% static 'lib/adminLTE-3.2.0/img/user.png' %}" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a href="#" class="d-block">{{user}}</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	      <!-- Add icons to the links using the .nav-icon class
	      	with font-awesome or any other icon font library -->
	      	<li class="nav-item">
	      		<a href="#" class="nav-link">
	      			<i class="nav-icon fas fa-cogs"></i>
	      			<p>
	      				GESTIONAR
	      				<i class="right fas fa-angle-left"></i>
	      			</p>
	      		</a>
	      		<ul class="nav nav-treeview">
	      			<li class="nav-item">
	      				<a href="{% url 'solicitud:base' %}" class="nav-link">
	      					<i class="far fa-circle nav-icon"></i>
	      					<p>Solicitud</p>
	      				</a>
	      			</li>
	      			<li class="nav-item">
	      				<a href="#" class="nav-link">
	      					<i class="far fa-circle nav-icon"></i>
	      					<p>Registros</p>
	      				</a>
	      			</li>
	      			<li class="nav-item">
	      				<a href="{% url 'solicitud:Solicitudes_lista' %}" class="nav-link">
	      					<i class="far fa-circle nav-icon"></i>
	      					<p>Listados</p>
	      				</a>
	      			</li>
	      		</ul>
	      	</li>
	      	<li class="nav-item">
	      		<a href="#" class="nav-link">
	      			<i class="nav-icon fas fa-user-cog"></i>
	      			<p>
	      				SOLICITANTES
	      				<i class="right fas fa-angle-left"></i>
	      			</p>
	      		</a>
	      		<ul class="nav nav-treeview">
	      			<li class="nav-item">
	      				<a href="{% url 'solicitante:base' %}" class="nav-link">
	      					<i class="far fa-circle nav-icon"></i>
	      					<p>Solicitantes</p>
	      				</a>
	      			</li>
	      			<li class="nav-item">
	      				<a href="#" class="nav-link">
	      					<i class="far fa-circle nav-icon"></i>
	      					<p>Registros</p>
	      				</a>
	      			</li>
	      			<li class="nav-item">
	      				<a href="{% url 'solicitante:Solicitante_Lista' %}" class="nav-link">
	      					<i class="far fa-circle nav-icon"></i>
	      					<p>Listados</p>
	      				</a>
	      			</li>
	      		</ul>
	      	</li>
      	</nav>
      <!-- /.sidebar-menu -->
  	</div>
</aside>