* {
    box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.frmCatgorias {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.frmCatgorias__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.frmCatgorias__grupo-input {
	position: relative;
}

.frmCatgorias__input 
	
	


.frmCatgorias__input:focus {
	border: 2px solid #34abc0;
	outline: none;
	box-shadow: 3px 0px 30px rgba(233, 233, 233, 0.4);
}

.frmCatgorias__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.frmCatgorias__input-error-activo {
	display: block;
}

.frmCatgorias__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.frmCatgorias__checkbox {
	margin-right: 10px;
}

.frmCatgorias__grupo-terminos, 
.frmCatgorias__mensaje,
.frmCatgorias__grupo-btn-enviar {
	grid-column: span 2;
}

.frmCatgorias__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3x;
	display: none;
}

.frmCatgorias__mensaje-activo {
	display: block;
}

.frmCatgorias__mensaje p {
	margin: 0;
}

.frmCatgorias__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.frmCatgorias__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.frmCatgorias__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.frmCatgorias__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.frmCatgorias__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.frmCatgorias__grupo-correcto .frmCatgorias__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.frmCatgorias__grupo-incorrecto .frmCatgorias__label {
	color: #bb2929;
}

.frmCatgorias__grupo-incorrecto .frmCatgorias__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.frmCatgorias__grupo-incorrecto .frmCatgorias__input {
	border: 1px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.frmCatgorias {
		grid-template-columns: 1fr;
	}

	.frmCatgorias__grupo-terminos, 
	.frmCatgorias__mensaje,
	.frmCatgorias__grupo-btn-enviar {
		grid-column: 1;
	}

	.frmCatgorias__btn {
		width: 100%;
	}
}