{% extends "layout.html" %}{% load static %}{% block content %}

<div class="container">
  <div class="row m-4">
    <div class="col-lg-12 col-12">
      <!-- small card -->
      <a
        class="small-box bg-white callout callout-success mb-4"
        href="{% url 'user:Sembrador_profile' user.id %}"
      >
        <div class="inner">
          <h3>Completa de Datos del Perfil</h3>
          <p></p>
        </div>
        <div class="icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
      </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-12 col-12">
      <!-- small card -->
      <a
        href="{% url 'solicitante:Solicitante_Lista' %}"
        class="small-box bg-white callout callout-success mb-4"
      >
        <div class="inner">
          <h3>Lista de Sembradores y tecnicos</h3>

          <p>Sembradores y Tecnicos Activos en planes de siembra</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-plus"></i>
        </div>
      </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-12 col-12">
      <!-- small card -->
      <a href="#" class="small-box bg-white callout callout-success mb-4">
        <div class="inner">
          <h3>Exportar reportes</h3>

          <p>
            reportes de la distribucion de insumos de cualquier tipo y aquienes
            se les realizo entrega de estos
          </p>
        </div>
        <div class="icon">
          <i class="fas fa-chart-pie"></i>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}
